:root {
    /* action colors */

    --Idle: #0B0D17;
    --Hover: #D0D6F9;
    --active: #ffffff;

    --Content-separation-border:#383B4B;


    /* text colors */

    --Text-main: #ffffff;
    --Idle: #0B0D17;
    --Hover: #D0D6F9;

    /* Fonts */

    --Barlow-Condensed: 'Barlow Condensed', sans-serif;
    --Barlow: 'Barlow', sans-serif;
    --Bellefair: 'Bellefair', serif;
}

body {
    font-family: var(--Barlow-Condensed);
    background-image: url('./assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
}

.intro h1 a img {
    margin-left: 15px;
}

.intro-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.intro h1 a img {
    margin-left: 55px;
}

.intro h1 a:hover {
    border: none;
}

.line {
    position: absolute;
    left: 190px;
    top: 5px;
    width: 473px;
    height: 1px;
    margin-top: 80px;
    border-bottom: 1px solid var(--Text-main);
    z-index: 1;
}

.intro nav {
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(24px); 
}

.intro ul {
    display: flex;   
    align-items: center;
    margin: 0 117px 0 123px;
}

.intro li {
    height: 22px;
    padding: 37px 0;
    margin-right: 48px;  
    list-style: none;  
    text-transform: uppercase;  
    letter-spacing: 2.7px;  
}

.intro a {
    padding-bottom: 37px;    
    text-decoration: none;
    color: var(--Text-main);
}

.button-destination {
    color: var(--Hover);
    border-bottom: 3px solid var(--Hover);
}

.intro a:hover {
    color: var(--Hover);
    border-bottom: 3px solid var(--Hover);
}

.container-destination strong {
    font-weight: 700;
    line-height: 36.6px;    
    margin-right: 28px;
    margin-right: 12px;
    opacity: 25%;
}

h2 {
    color: var(--Text-main);
    font-size: 28px;
    line-height: 36.6px;
    letter-spacing: 5px;
    text-transform: uppercase;    
}

.container-destination img {
    margin-top: 97px;
    margin-left: 60px;
}

.container-destination {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 157px;
    margin-top: 76px;
    margin-left: 166.5px;
}

.second-column {
    display: flex;
    align-items: flex-end;
}

.container-destination ul {
    display: flex;
    color: var(--Hover);
}

.container-destination li {  
    margin-right: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.link-active {
    padding-bottom: 12px; 
    border-bottom: 3px solid var(--active);
}

.container-destination a:hover {
    padding-bottom: 12px;        
    border-bottom: 3px solid var(--Hover);
}

h3 {
    font-family: var(--Bellefair);
    color: var(--active);
    text-transform: uppercase;
    margin-top: 42px;
    font-size: 100px;
}

.content {
    font-family: var(--Barlow);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--Hover);
    padding-bottom: 54px;
    border-bottom: 1px solid var(--Content-separation-border);
    
}

.distance-time {
    display: grid;
    grid-template-columns: auto auto;
    color: var(--Hover);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2.36px;
    margin-top: 28px;
}

.distance-time-content p:nth-child(1) {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    margin-top: 12px;
    letter-spacing: 4.0px;
    text-transform: uppercase;
}

.distance-time-content p:nth-child(2) {
    font-family: var(--Bellefair);
    font-size: 28px;
    font-weight: 400;
    line-height: 32.09px;
    margin-top: 12px;
    text-transform: uppercase;
    color: var(--Text-main);
}

@media screen and (max-width: 1366px) {

    .info-intro {
        margin: 275px 3px 0 130px;
        align-items: flex-start;
    }

    .line {
        width: 445px;
        left: 130px;        
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }

    .line {
        border: none;
    }

    .intro h1 a img {
        margin-left: 39px;
    }

    .intro-box {
        margin-top: 0;
    }

    strong {
        display: none;
    }

    .intro ul {
        display: flex;
        align-items: center;
        margin: 0 0 0 48px;
    }

    main {
        width: 768px;
    }

    .container-destination strong {
        display: inline;
    }

    h2 {
        position: absolute;
        left: 38.5px;
        font-size: 20px;
    }

    .container-destination {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 0;
        margin-top: 40px;
        margin-left: 38.5px;
    }

    .container-destination img {
        width: 300px;
        margin-top: 60px;
        margin-bottom: 53px;
        margin-left: 0;
    }

    .container-destination ul {
        justify-content: center;
    }

    .container-destination li {
        margin: 0 18px;
    }

    h3 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: 80px;
    }

    br {
        display: none;
    }

    .content {
        font-size: 16px;
        width: 563px;
        text-align: center;
        padding-bottom: 44px;
    }

    .distance-time {
        justify-content: space-around;
    }
}

@media screen and (max-width: 375px) {
    body {
        background-image: url(./assets/destination/background-destination-mobile.jpg);
    }    
    
    .intro-box {
        margin-top: 24px;
    }

    .intro h1 a img {
        margin-left: 15px;
        width: 40px;
    }

    .line {
        width: 1px;
    }

    #toggle {
        position: relative;
        width: 35px;
        height: 35px;
        background-color: var(--Very-Light-Gray);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        z-index: 1;
        margin-right: 15px;
    }    

    #toggle::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: var(--active);
        transition: 0.5s;
        transform: translatey(-8px);
        box-shadow: 0 8px 0 var(--active);
    }

    #toggle.active::before {
        transform: translatey(0px) rotate(45deg);
        box-shadow: 0 0 0 var(--active);
    }

    #toggle::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: var(--active);
        transition: 0.5s;
        transform: translatey(8px);
    }

    #toggle.active::after {
        transform: translatey(0px) rotate(-45deg);
    }

    strong {
        display: inline;
        margin-right: 11px;
    }

    .menu-lateral {               
        position: absolute;
        top: 0;
        right: -254px;
        width: 254px;
        transition: 1s;
    }

    .menu-lateral-ativo {
        right: 0;
        transition: 1s;
    }

    .intro ul {
        margin-top: 118px;
        margin-bottom: 334px;
        flex-direction: column;
    }

    .intro li {
        padding: 16px 0;
        align-self: flex-start;
    }

    .intro a {
        padding-bottom: 0;
    }

    main {
        width: 375px;
    }

    h2 {
        font-size: 16px;
        position: inherit;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-destination {
        margin-top: 15px;
        margin-left: 0px;
    }

    .container-destination img {
        width: 170px;
        margin-top: 32px;
        margin-bottom: 26px;
        margin-left: 0;
    }

    .container-destination a {
        font-size: 14px;
    }

    h3 {
        font-size: 53px;
    }

    .content {
        width: 307px;
        font-size: 15px;
        padding-bottom: 28px;
    }

    .distance-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .distance-time div:nth-child(2) {
        margin-top: 15px;
    }

    .distance-time-content {
        text-align: center;
    }

}
